<div id="change-password-modal" class="">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">
                    <span class="glyphicon glyphicon-cog"></span>
                    <span ng-bind="'Profile.settings.changePassword' | translate"></span>
                </h4>
    
        </div>
        
        <div class="modal-body">
            FORMULARIO
        </div>
                 
            
    </div>        