<div id="change-password-modal" class="">
        <div class="modal-header">
            <h4 class="modal-title">
                    <span class="glyphicon glyphicon-cog"></span>
                    <span ng-bind="'Profile.settings.changePassword' | translate"></span>
                </h4>
    
        </div>
        
        <div class="modal-body">
            <form ng-submit="passwordSubmit()" name="passwordForm" novalidate>
                <div class="row form-group">
                    <label class="col-sm-4" for="oldPassword" ng-bind="'changePassword.currentPasswordConf' | translate"></label>
                    <div class="input-field col-sm-7">
                        <input id="oldPassword" type="password" placeholder="{{'changePassword.currentPasswordConf' | translate}}" name="oldPassword" ng-model="password.oldPassword" class="form-control" required>
                        <div ng-show="invalidPassword" class="has-error">
                            <span class="help-block" ng-bind="'modal.password.notMatchOldPassword' | translate"></span>
                        </div>
                    </div>
                </div> 
                <div class="row form-group">
                    <label class="col-sm-4" for="newPassword" ng-bind="'changePassword.newPassword' | translate"></label>   
                    <div class="input-field col-sm-7" ng-class="{'has-error': passwordForm.newPassword.$invalid && passwordForm.$submitted}" >
                        <input id="newPassword" type="password" placeholder="{{'changePassword.newPassword' | translate}}" name="newPassword" ng-model="password.newPassword" class="form-control" required>
                        <span ng-show="passwordForm.newPassword.$error.required && passwordForm.$submitted" class="help-block align-left" ng-bind="'signUp.error.addPassword' | translate"></span>
                        <span ng-show="passwordForm.newPassword.$error.maxlength && passwordForm.$submitted" class="help-block align-left" ng-bind="'signUp.error.passwordTooLong' | translate"></span>
                        <span ng-show="passwordForm.newPassword.$error.minlength && passwordForm.$submitted" class="help-block align-left" ng-bind="'signUp.error.passwordTooShort' | translate"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-4" for="confirmPassword" ng-bind="'userFormLabel.passwordConfirm' | translate"></label>
                    <div class="input-field col-sm-7" ng-class="{'has-error': (passwordForm.confirmPassword.$invalid || !passwordsMatch) && passwordForm.$submitted}">
                        <input id="confirmPassword" type="password" placeholder="{{'userFormLabel.passwordConfirm' | translate}}" name="confirmPassword" ng-model="password.confirmPassword" class="form-control" required>
                        <span ng-show="!passwordsMatch && passwordForm.$submitted" class="help-block align-left" ng-bind="'signUp.error.passwordMatch' | translate"></span>
                        
                    </div>
                </div>

                <div class="submit-field form-group row-centered">
                    <button class="btn btn-default ps-btn" type="submit" name="submit" ng-bind="'changePassword' | translate"></button>
                    <button type="button" class="btn btn-default modal-btn" data-dismiss="modal" ng-bind="'passwordForm.cancel' | translate" ng-click="cancel()"></button>
                    </div>
            </form>
        </div>
                 
            
    </div>        