<div id="change-password-modal" class="">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">
                    <span class="glyphicon glyphicon-cog"></span>
                    <span ng-bind="'Profile.settings.changePassword' | translate"></span>
                </h4>
    
        </div>
        
        <div class="modal-body">
            <form ng-submit="passwordSubmit()">
                <div class="row">
                        <label class="col-sm-4" for="oldPassword" ng-bind="'changePassword.currentPasswordConf' | translate"></label>
                    <div class="input-field col-sm-7">
                        <input id="oldPassword"type="password" placeholder="{{'changePassword.currentPasswordConf' | translate}}" name="oldPassword" ng-model="passwordForm.oldPassword.text" class="form-control" required>
                    </div>
                </div> 
                <div class="row">
                    <label class="col-sm-4" for="newPassword" ng-bind="'changePassword.currentPasswordConf' | translate"></label>   
                    <div class="input-field col-sm-7">
                        <input id="newPassword" type="password" placeholder="{{'changePassword.newPassword' | translate}}" name="newPassword" ng-model="passwordForm.newPassword.text" class="form-control" required>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-4" for="confirmPassword" ng-bind="'changePassword.currentPasswordConf' | translate"></label>
                    <div class="input-field col-sm-7">
                        <input id="confirmPassword" type="password" placeholder="{{'changePassword.newPassword' | translate}}" name="confirmPassword" ng-model="passwordForm.confirmPassword.text" class="form-control" required>
                    </div>
                </div>

                <div class="submit-field">
                    <button class="btn btn-default ps-btn" type="submit" name="submit" ng-bind="'changePassword' | translate"></button>
                    <button type="button" class="btn btn-default modal-btn" data-dismiss="modal" ng-bind="'changePassword' | translate"></button>
                    </div>
            </form>
        </div>
                 
            
    </div>        