<div id="change-picture-modal" class="">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true ng-click="cancel()"">&times;</button>
            <h4 class="modal-title">
                <span class="glyphicon glyphicon-cog"></span>
                <span ng-bind="'Profile.settings.changePicture' | translate"></span>
            </h4>

    </div>
    
    <div class="modal-body">


        <div class="row row-centered">
            <div class="col-md-12">
                <div class="col-sm-12">
                        <button class="btn btn-default ps-btn" type="submit" name="submit" ng-bind="'Profile.settings.changePicture' | translate"></button>
                        <button type="button" class="btn btn-default modal-btn" data-dismiss="modal" ng-bind="'passwordForm.cancel' | translate" ng-click="cancel()"></button>
                </div>
            </div>
        </div>
    </div>
             
        
</div>        