<div class="login-modal-body" id="login-modal">
	<h3 class="login-title" ng-bind="'modal.signUp.title' | translate"></h3>
	<form ng-submit="signUpSubmit()" name="signUpForm" novalidate>
        <div class="row">
			<div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <input id="pictureUpload" class="image-input" type="file" accept="image/*" ng-file-read="user.picture" name="picture"/>
                    <label for="pictureUpload" class="image-upload-btn">
                        <div class="preview-container">
                            <img class="preview-image" src="{{user.picture}}" ng-show="user.picture">
                            <div class="remove-btn glyphicon glyphicon-remove" ng-click="deletePicture(); $event.preventDefault();" ng-show="user.picture"></div>
                            <div class="add-img-text prof-img-text" ng-show="!user.picture">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span ng-bind="'button.addProfilePicture' | translate"></span>
                            </div>
                        </div>
                    </label>
                </div>
			</div>
		</div>
        <div class="input-field">
            <input type="text" placeholder="{{'modal.signUp.usernamePlaceholder' | translate}}" name="name" ng-model="user.name" class="form-control" required>
        </div>
		<div class="input-field">
			<input type="text" placeholder="{{'modal.signUp.emailPlaceholder' | translate}}" name="email" ng-model="user.email" ng-pattern="user.emailPattern" class="form-control" required>
		</div>
		<div class="input-field">
			<input type="password" placeholder="{{'modal.signIn.passwordPlaceholder' | translate}}" name="password" ng-model="user.password"  class="form-control" required>
		</div>
        <div class="input-field">
            <input type="password" placeholder="{{'modal.signUp.passwordConfPlaceholder' | translate}}" name="passwordConf" ng-model="user.passwordConf" class="form-control" required>
        </div>
        <div class="submit-field">
			<button class="btn btn-default ps-btn" type="submit" name="submit" ng-bind="'modal.signUp.signUp' | translate"></button>
		</div>
	</form>
</div>