<div class="container">
	<div class="row title-row">
		<div class="col-md-8 col-md-offset-3 title-col">
            <div class="content-title">
                <h2 ng-if="!category" ng-bind="'all' | translate"></h2>
                <div ng-if="category">
                    <h2 ng-bind="category | translate"></h2>
                </div>
                <div ng-if="products.length > 0" class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="order-selection">
                            <span ng-repeat="sc in sortCriterias" >
                                <a ng-click="setActiveSortCriteria(sc)" ng-bind="sc.orderBy | translate" class="order-btn" ng-class="{selected: sc.active}" ng-href="#{{sc.url}}">
                                </a>
                                <span ng-if="!$last" class="order-divider"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12">
						<ul class="nav nav-pills nav-stacked categoryBox affix">
							<li role="presentation" ng-repeat="c in categories" ng-class="{active: c.active}">
								<a ng-href="#{{c.url}}" ng-click="setActiveCategory(c)">
									<img class="icon" ng-src="{{c.imageUrl}}">
									{{c.name | translate}}
								</a>
							</li>
						</ul>

				</div>
			</div>
		</div>

		<div class="col-md-8">
			<div class="row">
				<div ng-if="products.length > 0" class="col-md-10 col-md-offset-1 product-list" infinite-scroll='loadMoreProducts()' infinite-scroll-disabled="scrollBusy">
					<div ng-repeat="p in products">
						<product-item order="order" order-by="orderBy" product="p" hide-delete="true" hide-category="category" border-hover="true"></product-item>
					</div>
					<div ng-show="scrollBusy && !disableScroll" class="infinite-scroll-spinner">
						<div class="spinner">
                            <div class="dot1"></div>
                            <div class="dot2"></div>
                        </div>
					</div>
				</div>
              	<div ng-if="products.length == 0">
					<div class="zrp" id="category-zrp">
						<h2 ng-bind="'categoryZRP.sorry' | translate"></h2>
						<h3 ng-bind="'categoryZRP.noProducts' | translate"></h3>
						<p>
							<span>Check other categories or post your own product! (TODO) </span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>