<p>HOLA MANOLA</p>
<div class="row">
	<div class="col-md-10 col-md-offset-1 product-list">
		<div ng-repeat="p in productsData.products">

			<div class="row product-list-item product-item-height" id="product${product.id}">
				<div class="col-md-3 product-logo">
					<!--		<img src="<c:url value="/product/${product.id}/logo"/>">-->
				</div>
				<div class="col-md-9 product-info-box">
					<div class="row product-name">
						<div class="col-md-10 capitalize-firstLetter">
							<p>{{p.name}}</p>
						</div>
					</div>
					<div class="row product-short-description">
						<div class="col-md-12 capitalize-firstLetter">
							<p>{{p.tagline}}</p>
						</div>
					</div>
					<div class="row product-category">
						{{p.category}}
					</div>
				</div>
			</div>
		</div>

	</div>
</div>