<div class="form-container post-form">
	<div class="row post-title">
		<div class="col-md-6 col-md-offset-3">
			<h1 ng-bind="'post.postProduct' | translate"></h1>
			<h4 ng-bind="'post.giveUsInformation' | translate"></h4>
		</div>
	</div>
	<form name="postForm" class="form-horizontal" novalidate>
		<div class="form-group row">
			<div class="col-md-2 col-md-offset-5" ng-class="{'has-error': postForm.logo.$invalid && postForm.$submitted}" >
				<input id="logoUpload" class="image-input" type="file" accept="image/*" ng-file-read="product.logo" name="logo" ng-model="__" valid-file required>
				<label for="logoUpload" class="image-upload-btn">
					<div class="preview-container">
						<img class="preview-image" ng-src="{{product.logo}}" ng-show="product.logo">
						<div class="remove-btn glyphicon glyphicon-remove" ng-click="deleteLogo(); $event.preventDefault();" ng-show="product.logo"></div>
						<div class="add-img-text" ng-show="!product.logo">
							<span class="glyphicon glyphicon-plus"></span>
							<span ng-bind="'button.addLogo' | translate"></span>
						</div>
					</div>
				</label>
                <span ng-show="postForm.logo.$invalid && postForm.$submitted" class="align-center help-block" ng-bind="'post.error.addLogo' | translate"></span>
			</div>
		</div>
		<div class="form-group row" ng-class="{'has-error': postForm.name.$invalid && postForm.$submitted}">
			<label for="productName" class="col-md-3 control-label" ng-bind="'post.productName' | translate"></label>
			<div class="col-md-6">
				<input type="text" class="form-control" id="productName" placeholder="{{'post.placeholder.productName' | translate}}" ng-model="product.name" name="name" required ng-minlength="4" ng-maxlength="64">
				<span ng-show="postForm.name.$error.required && postForm.$submitted" class="help-block" ng-bind="'post.error.addName' | translate"></span>
				<span ng-show="postForm.name.$error.minlength && postForm.$submitted" class="help-block" ng-bind="'post.error.nameTooShort' | translate"></span>
				<span ng-show="postForm.name.$error.maxlength && postForm.$submitted" class="help-block" ng-bind="'post.error.nameTooLong' | translate"></span>
			</div>
		</div>
		<div class="form-group row" ng-class="{'has-error': postForm.tagline.$invalid && postForm.$submitted}">
			<label for="tagline" class="col-md-3 control-label" ng-bind="'post.tagline' | translate"></label>
			<div class="col-md-6">
				<textarea type="text" class="form-control" id="tagline" placeholder="{{'post.placeholder.tagline' | translate}}" rows="2" ng-model="product.tagline" name="tagline" required ng-maxlength="140"></textarea>
				<span ng-show="postForm.tagline.$error.required && postForm.$submitted" class="help-block" ng-bind="'post.error.addTagline' | translate"></span>
				<span ng-show="postForm.tagline.$error.maxlength && postForm.$submitted" class="help-block" ng-bind="'post.error.taglineTooLong' | translate"></span>
			</div>
		</div>
		<div class="form-group row" ng-class="{'has-error': postForm.description.$invalid && postForm.$submitted}">
			<label for="description" class="col-md-3 control-label" ng-bind="'post.description' | translate"></label>
			<div class="col-md-6">
				<textarea type="text" class="form-control" id="description" placeholder="{{'post.placeholder.description' | translate}}" rows="4" ng-model="product.description" name="description" required ng-maxlength="8000"></textarea>
                <span ng-show="postForm.description.$error.required && postForm.$submitted" class="help-block" ng-bind="'post.error.addDescription' | translate"></span>
                <span ng-show="postForm.description.$error.maxlength && postForm.$submitted" class="help-block" ng-bind="'post.error.descriptionTooLong' | translate"></span>
			</div>
		</div>
		<div class="form-group row" ng-class="{'has-error': postForm.webpage.$invalid && postForm.$submitted}">
			<label for="webpage" class="col-md-3 control-label" ng-bind="'post.webpageOptional' | translate"></label>
			<div class="col-md-6">
				<input type="url" ng-pattern="URLregex" class="form-control" id="webpage" placeholder="{{'post.placeholder.webpage' | translate}}" ng-model="product.webpage" name="webpage">
                <span class="help-block" ng-show="postForm.webpage.$invalid && postForm.$submitted" ng-bind="'post.error.invalidWebpage' | translate"></span>
			</div>
		</div>
		<div class="form-group row">
			<label for="productName" class="col-md-3 control-label" ng-bind="'post.category' | translate"></label>
			<div class="col-md-6">
				<select id="categorySelect" ng-options="c | translate for c in categories" ng-model="product.category" class="form-control" name="category">
				</select>
			</div>
		</div>
		<div class="row has-error">
			<div class="col-md-6 col-md-offset-3">
				<h3 ng-bind="'post.addImageOrVideo' | translate"></h3>
				<h4 class="help-block add-img-help" ng-show="noImagesError && postForm.$submitted" ng-bind="'post.error.addImageOrVideo' | translate"></h4>
			</div>
		</div>
		<div class="col-md-8 col-md-offset-2 image-buttons">
			<div class="row">
				<ng-repeat ng-repeat="img in product.images track by $index">
					<div class="col-md-3">
						<input id="imageUpload-{{$index}}" class="image-input" type="file" accept="image/*" ng-file-read="product.images[$index]" name="image-{{$index}}">
						<label for="imageUpload-{{$index}}" class="image-upload-btn">
							<div class="preview-container">
								<img class="preview-image" ng-src="{{product.images[$index]}}" ng-show="product.images[$index]">
								<div class="remove-btn glyphicon glyphicon-remove" ng-click="deleteImage($index); $event.preventDefault();" ng-show="product.images[$index]"></div>
								<div class="add-img-text" ng-show="!product.images[$index]">
									<span class="glyphicon glyphicon-plus"></span>
									<span ng-bind="'button.addImage' | translate"></span>
								</div>
							</div>
						</label>
					</div>
				</ng-repeat> 
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h3 ng-bind="'post.videos' | translate"></h3>
			</div>
		</div>
		<ng-repeat ng-repeat="link in product.videos track by $index">
			<div class="form-group row" ng-class="{'has-error': (postForm.link{{$index}}.$invalid || duplicateVideosError) && postForm.$submitted}">
				<label for="link-{{$index}}" class="col-md-3 control-label" ng-bind="'post.link' | translate"></label>
				<div class="col-md-6">
					<input type="url" id="link-{{$index}}" class="form-control" placeholder="https://www.youtube.com/watch?v=zw47_q9wbBE" ng-model="product.videos[$index]" name="link{{$index}}" ng-pattern="youtubeRegex">
					<span class="help-block" ng-show="postForm.link{{$index}}.$invalid && postForm.$submitted" ng-bind="'post.error.invalidYoutube' | translate"></span>
				</div>
			</div>
		</ng-repeat>
		<div class="row">
			<span class="help-block col-md-offset-3 col-md-6" ng-show="duplicateVideosError" ng-bind="'post.error.duplicateYoutube' | translate"></span>
		</div>
		<div class="row post-btn-row">
			<div class="col-md-6 col-md-offset-3">
				<button class="ps-btn-red btn post-btn" type="submit" ng-click="doSubmit()"  ng-class="{'disabled': posting}">
					<span ng-show="!posting" ng-bind="'post.postButton' | translate"></span>
					<span ng-show="posting">
						<div class="spinner button-spinner">
							<div class="dot1"></div>
							<div class="dot2"></div>
						</div>
						<span ng-bind="'post.posting' | translate"></span>
					</span>
				</button>
			</div>
		</div>


	</form>
</div>