<div class="container">
	<div class="carousel row col-md-6 col-md-offset-3">
		<slick settings="slickConfig">
			<div ng-repeat="image_url in image_urls">
				<div class="image-holder">
					<img class="image-item" ng-src="{{image_url}}" >
				</div>
			</div>
			<div ng-repeat ="video_id in video_ids">
				<div class="embed-responsive embed-responsive-16by9 video-holder">
					<iframe class="embed-responsive-item video-item" ng-src="{{trustedVideoUrl(video_ids)}}" allowfullscreen></iframe>
				</div>
			</div>
		</slick>
	</div>

	<div class="row">
		<div class="col-md-6 product-col">
			<product-item border-hover="false" hide-delete="!isOwnerLogged()" on-delete="directToHome()" product="product"></product-item>
		</div>  
		<div class="col-md-4 col-md-offset-1 creator-item highlighted">
			<div class="row">
				<div class="col-md-12">
					<div class="row creator-first-row-holder">
						<div class="col-md-5 product-name creator-name">
							<p>{{'product.creator' | translate}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<a ng-click="directToCreatorProfile()">
								<img class="profile-img-circle" ng-src="{{creator.picture_url}}">
							</a>
						</div>
						<div class="col-md-10">
							<div class="row col-md-12 profile-name-holder">
								<a ng-click="directToCreatorProfile()"> 
									<p class="profile-name">{{creator.name}}</p>
								</a>
							</div>
							<div class="row col-md-12">
								<a class="creator-mail" href="mailto:{{creator.email}}">
									<span class="glyphicon glyphicon-envelope"></span>
									<p>{{creator.email}}</p>
								</a>
							</div>                                      
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row long-description">
		<div class="col-md-12">
			<p>{{description}}</p>
		</div>
	</div>

	<p class="join-discussion" >
		{{'product.discussion' | translate}}
	</p>

	<div ng-show="isLoggedIn">
		<div class="row" id="formparent">
			<div class="col-md-7">
				<div class="highlighted parent-form-comment">

					<div class="row">
						<div class="col-md-1">
							<a ng-click="directToLoggedProfile()">
								<img class="profile-img-circle" ng-src="{{loggedUser.picture_url}}">
							</a>
						</div>
						<div class="col-md-10 parent-name-mail-holder">
							<div class="row col-md-12 profile-name-holder">
								<a ng-click="directToLoggedProfile()"> 
									<p class="profile-name">{{loggedUser.name}}</p>
								</a>
							</div>
							<div class="row col-md-12">
								<a class="creator-mail" href="mailto:{{loggedUser.email}}">
									<span class="glyphicon glyphicon-envelope"></span>
									<p>{{loggedUser.email}}</p>
								</a>
							</div>                                      
						</div>
					</div>  
					<form ng-submit="parentCommentSubmit()" ng-class="{'has-error': parentCommentLengthError}">
						<div class="row input-field">
							<div class="col-md-12">
								<input type="text" ng-model="parentCommentForm.text" class="form-control 
																							comment-box" placeholder="{{'product.comment.placeholder' | translate}}" required>
								<span ng-show="parentCommentLengthError" class="help-block" ng-bind="'product.comment.error' | translate"></span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 comment-col">
								<button class="btn btn-default ps-btn parent-comment-btn" type="submit" name="submit" ng-bind="'product.comment' | translate"></button>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>

	<div ng-show="!isLoggedIn">
		<div class="row">
			<div class="col-md-7">
				<div class="highlighted anonymous-holder">
				<p>{{'product.anonymousComment.beginning' | translate}}
					<a ng-click="signInModal()">{{'product.anonymousComment.signIn' | translate}}</a>
					{{'product.anonymousComment.or' | translate}}
					<a ng-click="signUpModal()">{{'product.anonymousComment.signUp' | translate}}</a>
				</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-7">
			<div class="comments-holder highlighted">
				<div ng-repeat ="commentFamily in comments">
					<div class="comment-and-replies">
						<div class="parent-comment">
							<div class="row">
								<div class="col-md-1">
									<a ng-click="directToAuthorProfile(commentFamily.author.id)">
										<img class="profile-img-circle" ng-src="{{commentFamily.author.picture_url}}">
									</a>
								</div>
								<div class="col-md-10 parent-name-mail-holder">
									<div class="row col-md-12 profile-name-holder">
										<a ng-click="directToAuthorProfile(commentFamily.author.id)"> 
											<p class="profile-name">{{commentFamily.author.name}}</p>
										</a>                                                           
									</div>
									<div class="row col-md-12">
										<a class="creator-mail" href="mailto:{{commentFamily.author.email}}">
											<span class="glyphicon glyphicon-envelope"></span>
											<p>{{commentFamily.author.email}}</p>
										</a>
									</div>                                      
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 comment-content">
									<p>{{commentFamily.content}}</p>
								</div>
							</div>
							<div class="row reply-button-holder">
								<div class="col-md-4">
									<p uib-popover-template="'views/popovers/loginRequiredComment.html'" popover-enable="!isLoggedIn" popover-trigger="'outsideClick'" class="reply-btn" ng-click="showReplyForm($event.currentTarget)">
										<span class="glyphicon glyphicon-share-alt"></span>
										{{'product.reply' | translate}}
									</p>
								</div>
							</div>
							<div class="row comment-divider">
								<div class="col-md-12"></div>
							</div>
						</div>
						<div ng-repeat ="childComment in commentFamily.children">
							<div class="row child-comment" id="comment{{childComment.id}}">
								<div class="col-md-10 col-md-offset-2">
									<div class="row">
										<div class="col-md-1">
											<a ng-click="directToAuthorProfile(childComment.author.id)">
												<img class="profile-img-circle" ng-src="{{childComment.author.picture_url}}">
											</a>
										</div>
										<div class="col-md-10 child-name-mail-holder">
											<div class="row col-md-12">
												<a ng-click="directToAuthorProfile(childComment.author.id)"> 
													<p class="profile-name">{{childComment.author.name}}<p>
												</a>
											</div>
											<div class="row col-md-12">
												<a class="creator-mail" href="mailto:{{childComment.author.email}}">
													<span class="glyphicon glyphicon-envelope"></span>
													<p>{{childComment.author.email}}</p>
												</a>
											</div>                                      
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 comment-content">
											<p>{{childComment.content}}</p>
										</div>
									</div>
									<div class="row comment-divider">
										<div class="col-md-12"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="row spinner-holder" ng-show="showChildSpinner[$index]">
							<div class="spinner">
								<div class="dot1"></div>
								<div class="dot2"></div>
							</div>
						</div>
						<div class="row">
							<div class="reply-comment col-md-10 col-md-offset-2" ng-show="isLoggedIn">
								<div class="comment-form">
									<div class="row">   
										<div class="col-md-1">
											<a ng-click="directToLoggedProfile()">
												<img class="profile-img-circle" ng-src="{{loggedUser.picture_url}}">
											</a>
										</div>
										<div class="col-md-10 child-name-mail-holder">
											<div class="row col-md-12 profile-name-holder">
												<a ng-click="directToLoggedProfile()"> 
													<p class="profile-name">{{loggedUser.name}}</p>
												</a>
											</div>
											<div class="row col-md-12">
												<a class="creator-mail" href="mailto:{{loggedUser.email}}">
													<span class="glyphicon glyphicon-envelope"></span>
													<p>{{loggedUser.email}}</p>
												</a>
											</div>                                      
										</div>
									</div>
									<form ng-submit="childCommentSubmit(commentFamily.id, $index)" ng-class="{'has-error': childCommentLengthError[$index]}">
										<div class="input-field">
											<input type="text" ng-model="childCommentForm[$index].text" class="form-control comment-box" placeholder="{{'product.comment.placeholder' | translate}}" required>
											<span ng-show="childCommentLengthError[$index]" class="help-block" ng-bind="'product.comment.error' | translate"></span>
										</div>
										<div class="comment-col">
											<button class="btn btn-default ps-btn post-comment-btn" type="submit" name="submit" ng-bind="'product.comment' | translate"></button>
										</div>
									</form>
									<div class="row comment-divider">
										<div class="col-md-12"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row spinner-holder" ng-show="showParentSpinner">
					<div class="spinner">
						<div class="dot1"></div>
						<div class="dot2"></div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
