<div class="row product-list-item product-item-height" id="{{product.id}}" ng-click="directToProduct()">
    <div class="col-md-3 product-logo">
        <img src="{{product.logo_url}}">
    </div>
    <div class="col-md-9 product-info-box">
        <div class="row product-name">
            <div class="col-md-10 capitalize-firstLetter">
                <p>{{product.name}}</p>
            </div>
        </div>
        <div class="row product-short-description">
            <div class="col-md-12 capitalize-firstLetter">
                <p>{{product.tagline}}</p>
            </div>
        </div>
        <div class="row product-category">
            <div class="col-md-3 categoryTag" ng-hide="hideCategory" ng-click="directToCategory(); $event.stopPropagation()">
                <p>{{product.category | translate}}</p>
            </div>
            <div class="col-md-6 col-md-offset-{{offset}}">
                <button class="pull-right btn btn-default upvote-btn" ng-class="{voted: product.voted}" ng-click="toggleVote(); $event.stopPropagation()" login-required-popover="!isLoggedIn">
                    <p><span class="glyphicon glyphicon-arrow-up upvote-icon"></span>{{product.voters_count}}</p>
                </button>
                <button ng-show="isLoggedIn" class="btn btn-default add-to-collection-btn pull-right categoryTag" data-target="#add-to-collection-modal-{{product.id}}" data-toggle="modal">
                    <p>
                        <span class="glyphicon glyphicon-plus"></span>
                    </p>
                </button>
            </div>
        </div>
    </div>
</div>