<div class="container">
    <div class="carousel row col-md-6 col-md-offset-3">
        <slick settings="slickConfig">
            <div ng-repeat ="video_id in video_ids">
                <div class="embed-responsive embed-responsive-16by9 video-holder">
                        <iframe class="embed-responsive-item video-item" src="//www.youtube.com/embed/{{video_id}}"allowfullscreen></iframe>
                </div>
            </div>
            <div ng-repeat="image_url in image_urls">
                <div class="image-holder">
                    <img class="image-item" src="{{image_url}}" >
                </div>
            </div>
        </slick>
    </div>

    <div class="row">
        <div class="col-md-6">
            <product-item border-hover="false" product="product"></product-item>
        </div>  
            <!-- href vacios son las referencias al perfil del creador, tanto en el nombre como en su imágen de perfil !-->
        <div class="col-md-4 col-md-offset-1 creator-item highlighted">
            <div class="row">
                <div class="col-md-12">
                    <div class="row creator-first-row-holder">
                        <div class="col-md-5 product-name creator-name">
                            <p>{{'product.creator' | translate}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <a href="">
                                <img class="profile-img-circle" src="{{creator.picture_url}}">
                            </a>
                        </div>
                        <div class="col-md-10">
                            <div class="row col-md-12 profile-name-holder">
                                <a href=""> 
                                    <p class="profile-name">{{creator.name}}</p>
                                </a>
                            </div>
                                <div class="row col-md-12">
                                    <a class="creator-mail" href="mailto:{{creator.email}}">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                            <p>{{creator.email}}</p>
                                    </a>
                                </div>                                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row long-description">
        <div class="col-md-12">
            <p>{{description}}</p>
        </div>
    </div>

    <p class="join-discussion" >
        {{'product.discussion' | translate}}
    </p>

    <div ng-show="isLoggedIn">
        <div class="row" id="formparent">
            <div class="col-md-7 highlighted parent-form-comment">
                <div class="row">
                    <div class="col-md-1">
                        <a href="">
                            <img class="profile-img-circle" src="{{loggedUser.picture_url}}">
                        </a>
                    </div>
                    <div class="col-md-10 parent-name-mail-holder">
                        <div class="row col-md-12 profile-name-holder">
                            <a href=""> 
                                <p class="profile-name">{{loggedUser.name}}</p>
                            </a>
                        </div>
                        <div class="row col-md-12">
                            <a class="creator-mail" href="mailto:{{loggedUser.email}}">
                                <span class="glyphicon glyphicon-envelope"></span>
                                <p>{{loggedUser.email}}</p>
                            </a>
                        </div>                                      
                    </div>
                </div>  
                <form ng-submit="parentCommentSubmit()">
                    <div class="input-field">
                        <input type="text" ng-model="parentCommentForm.text" class="form-control comment-box" required>
                    </div>
                    <div class="submit-field">
                        <button class="btn btn-default ps-btn post-comment-btn" type="submit" name="submit" ng-bind="'product.comment' | translate"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div ng-show="!isLoggedIn">
        <div class="row">
            <div class="col-md-7 highlighted anonymous-holder">
                <p>{{'product.anonymousComment.beginning' | translate}}
                <a ng-click="signInModal()">{{'product.anonymousComment.signIn' | translate}}</a>
                {{'product.anonymousComment.or' | translate}}
                <a ng-click="signUpModal()">{{'product.anonymousComment.signUp' | translate}}</a>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 comments-holder highlighted">
            <div ng-repeat ="commentFamily in comments">
                <div class="comment-and-replies">
                    <div class="parent-comment" id="comment{{commentFamily.id}}">
                        <div class="row">
                            <div class="col-md-1">
                                <a href="">
                                    <img class="profile-img-circle" src="{{commentFamily.author.picture_url}}">
                                </a>
                            </div>
                            <div class="col-md-10 parent-name-mail-holder">
                                <div class="row col-md-12 profile-name-holder">
                                    <a href=""> 
                                        <p class="profile-name">{{commentFamily.author.name}}</p>
                                    </a>                                                           
                                </div>
                                <div class="row col-md-12">
                                    <a class="creator-mail" href="mailto:{{commentFamily.author.email}}">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                        <p>{{commentFamily.author.email}}</p>
                                    </a>
                                </div>                                      
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 comment-content">
                                <p>{{commentFamily.content}}</p>
                            </div>
                        </div>
                        <div class="row reply-button-holder">
                            <div class="col-md-4">
                                    <div ng-show="!isLoggedIn">
                                        <!--Popover (not working)-->                                        <!-- <a tabindex="0" popover-placement="bottom" class="reply-btn" role="button" data-trigger="'focus'" id="reply-popover"
                                         uib-popover-html="'<p class='popover-msg'>
                                         <span>{{'product.anonymousComment.beginning' | translate}}</span>
                                         <a ng-click="signInModal()">
                                         <span>{{'product.anonymousComment.signIn' | translate}}</span>
                                        </a>
                                        <span>{{'product.anonymousComment.or' | translate}}</span>
                                         <a ng-click="signUpModal()">
                                         <span>{{'product.anonymousComment.signUp' | translate}}</span>
                                        </a>
                                        </p>'">
                                        <span class="glyphicon glyphicon-share-alt"></span>
                                        {{'product.reply' | translate}}
                                        </a>
                                        -->
                                        <a class="reply-btn">
                                            <span class="glyphicon glyphicon-share-alt"></span>
                                            {{'product.reply' | translate}}
                                        </a>
                                    </div>
                                    <div ng-show="isLoggedIn">
                                        <p class="reply-btn" ng-click="showReplyForm($event.currentTarget)">
                                            <span class="glyphicon glyphicon-share-alt"></span>
                                            {{'product.reply' | translate}}
                                        </p>
                                    </div>        
                            </div>
                        </div>
                        <div class="row comment-divider">
                            <div class="col-md-12"></div>
                        </div>
                    </div>
                    <div ng-repeat ="childComment in commentFamily.children">
                        <div class="row child-comment" id="comment{{childComment.id}}">
                            <div class="col-md-10 col-md-offset-2">
                                <div class="row">
                                    <div class="col-md-1">
                                        <a href="">
                                            <img class="profile-img-circle" src="{{childComment.author.picture_url}}">
                                        </a>
                                    </div>
                                    <div class="col-md-10 child-name-mail-holder">
                                        <div class="row col-md-12">
                                            <a href=""> 
                                                <p class="profile-name">{{childComment.author.name}}<p>
                                            </a>
                                        </div>
                                        <div class="row col-md-12">
                                            <a class="creator-mail" href="mailto:{{childComment.author.email}}">
                                                <span class="glyphicon glyphicon-envelope"></span>
                                                <p>{{childComment.author.email}}</p>
                                            </a>
                                        </div>                                      
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 comment-content">
                                        <p>{{childComment.content}}</p>
                                    </div>
                                </div>
                                <div class="row reply-button-holder">
                                    <div class="col-md-4">
                                        <div ng-show="!isLoggedIn">
                                            <!--Popover (not working)-->                                        <!-- <a tabindex="0" popover-placement="bottom" class="reply-btn" role="button" data-trigger="'focus'" id="reply-popover"
                                             uib-popover-html="'<p class='popover-msg'>
                                             <span>{{'product.anonymousComment.beginning' | translate}}</span>
                                             <a ng-click="signInModal()">
                                             <span>{{'product.anonymousComment.signIn' | translate}}</span>
                                            </a>
                                            <span>{{'product.anonymousComment.or' | translate}}</span>
                                             <a ng-click="signUpModal()">
                                             <span>{{'product.anonymousComment.signUp' | translate}}</span>
                                            </a>
                                            </p>'">
                                            <span class="glyphicon glyphicon-share-alt"></span>
                                            {{'product.reply' | translate}}
                                            </a>
                                            -->
                                            <a class="reply-btn">
                                                <span class="glyphicon glyphicon-share-alt"></span>
                                                {{'product.reply' | translate}}
                                            </a>
                                        </div>
                                        <div ng-show="isLoggedIn">
                                            <p class="reply-btn" ng-click="showReplyForm($event.currentTarget)">
                                                <span class="glyphicon glyphicon-share-alt"></span>
                                                {{'product.reply' | translate}}
                                            </p>
                                        </div>        
                                    </div>
                                </div>
                                <div class="row comment-divider">
                                    <div class="col-md-12"></div>
                                </div>
                            </div>
                        </div>  
                    </div>

                    <div ng-show="isLoggedIn">
                        <div class="row child-comment-row">
                            <div class="col-md-10 col-md-offset-2">
                                <div class="comment-form reply-comment">
                                    <div class="row">   
                                        <div class="col-md-1">
                                            <a href="">
                                                <img class="profile-img-circle" src="{{loggedUser.picture_url}}">
                                            </a>
                                        </div>
                                        <div class="col-md-10 child-name-mail-holder">
                                            <div class="row col-md-12 profile-name-holder">
                                                <a href=""> 
                                                    <p class="profile-name">{{loggedUser.name}}</p>
                                                </a>
                                            </div>
                                            <div class="row col-md-12">
                                                <a class="creator-mail" href="mailto:{{loggedUser.email}}">
                                                    <span class="glyphicon glyphicon-envelope"></span>
                                                    <p>{{loggedUser.email}}</p>
                                                 </a>
                                            </div>                                      
                                        </div>
                                    </div>
                                    <form ng-submit="childCommentSubmit(commentFamily.id, $index)">
                                        <div class="input-field">
                                            <input type="text" ng-model="childCommentForm[$index].text" class="form-control comment-box" required>
                                        </div>
                                        <div class="submit-field">
                                            <button class="btn btn-default ps-btn post-comment-btn" type="submit" name="submit" ng-bind="'product.comment' | translate"></button>
                                        </div>
                                    </form>
                                    <div class="row comment-divider">
                                        <div class="col-md-12"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
