<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h3 class="search-title result-text" ng-bind="query"></h3>
				</div>
			</div>
			<div class="row tabs-row">
				<div class="col-md-6 col-md-offset-3">
					<ul class="nav nav-pills nav-justified search-tabs">
						<li role="presentation" ng-class="tabs[0] ? 'active' : 'none'"><a href="#products-pane" data-toggle="tab" ng-bind="{{'searchResults.products' | translate}}"><span class="badge" ng-bind="products.length"></span></a></li>
						<li role="presentation" ng-class="tabs[1] ? 'active' : 'none' "><a href="#users-pane" data-toggle="tab">{{'searchResults.users' | translate}}<span class="badge tab-badge" ng-bind="users.length"></span></a></li>
					</ul>
				</div>
			</div>
			<div class="tab-content">
				<div id="products-pane" ng-class="tabs[0] ? 'active in' : 'none'" class="tab-pane fade row result-for-products">
					<div ng-if="products.isEmpty()" class="col-md-6 col-md-offset-3">
						<div id="product-search-zrp" class="zrp">
							<h2>{{'searchZRP.notFound' | translate}}</h2>
							<h3 class="result-text">{{'searchZRP.noProducts' | translate:'{keyword: query}'}}</h3>
							<p>{{'searchZRP.tryDifferentSearch' | translate}}</p>
						</div>
					</div>
					<div ng-if="!products.isEmpty()" class="col-md-3">
						<div class="panel filter-panel">
							<div class="panel-body">
								<h4 class="filter-title">{{'searchResults.filterByCategory' | translate}}</h4>
								<div ng-repeat="category in categories">
									<div class="filter-item">
										<label class="filter-checkbox">
											<input type="checkbox" name="category" value="{{category.name}}" ng-model="category.checked">
											{{category.name | translate}} ????
										</label>
									</div>
								</div>
								<a href="#" id="reset-filters-btn" ng-click="resetFilters()">{{'searchResults.resetFilters' | translate}}</a>
							</div>
						</div>
					</div>
					<div class="col-md-6 product-list">
						<ng-repeat ng-repeat="product in products">
							<a class="product-item" ng-href="#/product/{{product.id}}">
								<product-item product="product" hide-category="category"></product-item>
							</a>
						</ng-repeat>
					</div>
				</div>
				<div id="users-pane" ng-class="tabs[1] ? 'active in' : 'none'" class="tab-pane fade row result-for-users">
					<div ng-if="users.isEmpty()">
						<div class="col-md-6 col-md-offset-3">
							<div id="user-search-zrp" class="zrp">
								<h2>{{'searchZRP.notFound' | translate}}</h2>
								<h3 class="result-text">{{'searchZRP.noUsers' | translate:'{keyword: query}'}}</h3>
								<p>{{'searchZRP.tryDifferentSearch' | translate}}</p>
							</div>
						</div>
					</div>
					<div ng-if="!users.isEmpty()">
						<div class="col-md-6 col-md-offset-3">
							<ng-repeat ng-repeat="user in users">
								<a class="user-ref" ng-href="#/profile/{{user.id}}">
									<div class="row user-info-box">
										<div class="col-md-3 img-col">
											<img class="profile-img-circle" src="{{user.picture_url}}">
										</div>
										<div class="col-md-9">
											<div class="row">
												<div class="col-md-12">
													<div class="profile-name-holder capitalize-firstLetter">
														<span class="profile-name result-text" ng-bind="user.name"></span>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="creator-mail" data-href="mailto:${user.email}">
														<span class="glyphicon glyphicon-envelope"></span>
														<p ng-bind="user.email"></p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</a>
							</ng-repeat>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
