.profilePicture-form {
	text-align: center;
	margin-top: -1em;
}

#profilePicture-label {
	width: 200px !important;
	height: 200px !important;
	margin: 15px auto;
}

.error-centered {
	text-align: center;
} 