.profile-img-input {
	text-align: center;
	width: 15em;
	height: 15em;
	margin: auto;
	margin-top: 30px;
    margin-bottom: 20px;
}

.create-title {
	text-align: center;
}

.submit-btn {
	font-size: 1.5em;
	padding: 10px 30px;
	display: inline-block;
	float: none;
	margin-top: 1em;
}

.error-centered {
	text-align: center;
} 

.text-centered {
	text-align: center;
}