body {
	background-color: #f9f9f9;
	padding-top: 70px;
}

p {
	word-wrap: break-word;
}

.navbar-default {
	background-color: #fff !important;
	border-radius: 0;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.04);
	background-image: none;
}

.img-contain {
	object-fit: contain;
    margin-right: 0.6em;
}

.navbar-default .navbar-nav>.active>a:hover {
	background-color: #fff;
}

.navbar-default .navbar-nav>.active>a {
	background-color: #fff;
	color: #39C6A6;
}

.navbar-link {
	color: #39C6A6 !important;
	font-weight: 500 !important; 
}

.navbar-link:hover {
	text-decoration: underline !important;
}

nav img {
	max-height: 100%;
	max-width: 100%;
}

.navbar-brand {
	margin-left: 0;
	padding: 8px 0;
}

.navbar-search {
	position: relative;
}

.popover {
	width: 15em !important;
	text-align: center;
}

.popover-msg {
	margin: 0 !important;
	font-size: 1em !important;
	color: #000 !important;
	font-weight: 400 !important;
}

.popover-msg a {
	color: #337ab7;
}

textarea {
	resize: none;
}

footer p {
	text-align: right;
	padding: 25px;
	color: #b7b7b7;
	font-weight: 400;
	margin-top: 10px;
}

.user-nav-img {
	margin-right: -10px !important;
	margin-top: 8px !important;
	padding: 0 !important;
}

.navbar-btn {
	margin-left: 15px;
}

.user-nav-img img {
   height: 35px;
   width: 35px;
   border-radius: 100%;
}

.user-nav-name {
	margin-right: -1em;
	color: #333 !important;
	font-weight: 500;
}

.form-error { /* errors */
	color: #bc0f0f;
}

.error-centered {
	text-align: center;
}

.pointer-cursor {
	cursor: pointer;
}

 .modal-backdrop.in { 
 	z-index: auto !important;
 }

 .modal {
 	z-index: 9999 !important;
 }

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}

.capitalize-firstLetter {
	display: block;
}

.capitalize-firstLetter:first-letter {
	text-transform: uppercase;
}

.capitalize {
	text-transform: uppercase;
}

#search-box {
	width: 24em;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
}

.search-form-container {
	position: relative;
}

.suggestions-box {
	top: 42px;
	display: none;
	position: absolute;
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,.09);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.04);
	padding: 1em;
	width: 100%;
}

.history-item {
	color: #8c8c8c;
	display: block;
	padding: 5px;
	border-radius: 4px;
}

.history-item .glyphicon {
	margin-right: 1em;
}

.suggestion-list-item:hover, .suggestion-list-item:focus,
.history-item:hover, .history-item:focus,
.suggestion-product-href:focus .suggestion-list-item {
	background-color: #f3f3f3;
	text-decoration: none;
	color: #333;
	outline: none;
}

.suggestion-product-name {
	color: #333;
}

.suggestions-box .divider {
	border: 1px solid #f3f3f3;
	margin: 0.5em;
}

.search-icn {
	line-height: 20px;
	color: #e3e3e3;
	padding-left: 5px;
}

.search-button {
	background: rgba(255, 255, 255, 0);
  border: transparent;
}

.search-icn:hover {
	color: #33bb9c;
	transition: all .1s ease-in;
}

.modal-btn {
	margin-left: 0.5em;
  margin-right: 0.5em;
}

.suggestion-product-logo {
	height: 100%;
  width: 60px;
  object-fit: contain;
}

.suggestion-list-item {
	height: 3.5em;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 5px;
}