
body {
	background-color: #f9f9f9;
	padding-top: 70px;
}

.navbar-default {
	background-color: #fff !important;
	border-radius: 0;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.04);
	background-image: none;
}

.navbar-default .navbar-nav>.active>a:hover {
	background-color: #fff;
}

.navbar-default .navbar-nav>.active>a {
	background-color: #fff;
	color: #39C6A6;
}

.navbar-link {
	color: #39C6A6 !important;
	font-weight: 500 !important; 
}

.navbar-link:hover {
	text-decoration: underline !important;
}

nav img {
	max-height: 100%;
	max-width: 100%;
}

.navbar-brand {
	margin-left: 0;
	padding: 8px 0;
}

.navbar-search {
	position: relative;
}

.search-results {
  position: absolute;
	width: 100%;
  top: 3em;
	background-color: green;
}

textarea {
	resize: none;
}

footer p {
	text-align: right;
	padding: 25px;
	color: #b7b7b7;
	font-weight: 400;
	margin-top: 10px;
}

.user-nav-img {
	margin-right: -10px !important;
	margin-top: 8px !important;
	padding: 0 !important;
}

.navbar-btn {
	margin-left: 15px;
}

.user-nav-img img {
   height: 35px;
   width: 35px;
   border-radius: 100%;
}

.user-nav-name {
	margin-right: -1em;
	color: #333 !important;
	font-weight: 500;
}

.form-error { /* errors */
	color: #bc0f0f;
}


