.product-list {
	border-radius: 3px;
  border: 1px solid rgba(0,0,0,.09);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.04);
}

.product-list-item {
	border: 1px solid #f3f3f3;
	background-color: white;
	padding: 15px 10px;
}

.product-list-item:hover {
	border-color: #33bb9c;
}

.product-logo {
	max-height: inherit;
}

.product-logo img {
  max-height: 80px;
  max-width: 80px;
	object-fit: cover;
}

.vertical-align {
   display: flex;
   flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: center; /* Optional, to align inner flex-items
                              horizontally within the column  */
}

.product-info-box {
	padding-left: 0;
}

.product-name {
	color: #000000;
	text-transform: capitalize;
	font-weight: 400;
	font-size: 1.3em;
}

.product-short-description p {
	color: #8c8c8c;
	font-weight: 400;	
	word-wrap: break-word;
}

.product-category p {
	color: #8c8c8c;
    font-weight: 200;
    word-wrap: break-word;
    font-size: small;
}

h2 {
font-size: 25px;
color: #737373;
font-weight: 300;
text-align: center;
}

.categoryBox li {
    background: white;
    border-radius: 4px;
}

.categoryBox a{
	color: #737373;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #39c6a6;    
}

.nav-pills>li>a:hover{
	color: #fff;
    background-color: #39c6a6;
    opacity: 0.2;    
}

.nav-pills>li.active {
	pointer-events:none;
	
}

.categoryTag {
	text-align: center;
    background-color: rgb(249, 249, 249);
    border-radius: 24px;
    margin-left: 15px;
    color: #8c8c8c;
    word-wrap: break-word;
}

.categoryDescription {
	font-size: 13px;
    font-family: inherit;
    color: #737373;
    text-align: center;
}

.icon {
	height:20px;
	padding-left: inherit;
	
}

.categoryBoxTag {
	padding-left: 30px;
}
