.product-list {
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,.09);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.04);
}

.product-list-item {
	border: 1px solid #f3f3f3;
	background-color: white;
	padding: 15px 10px;
	position: relative;
}

.product-list-item:hover {
	border-color: #33bb9c;
}

.product-logo img {
	height: 100px;
	width: 100px;
	object-fit: contain;
}

/* magia para que quede alineado abajo */
.title-row {
	display: flex;
  align-items: flex-end;
	height: 5em;
	margin-bottom: 1em;
}

.title-row h2 {
	margin-top: 0;
	margin-bottom: 5px;
}

.product-info-box {
	padding-left: 0;
}

.product-name {
	color: #000000;
	text-transform: capitalize;
	font-weight: 400;
	font-size: 1.3em;
}

.product-short-description p {
	color: #8c8c8c;
	font-weight: 400;	
	word-wrap: break-word;
	font-size: 1.1em;
}

.product-category p {
	color: #8c8c8c;
	font-weight: 200;
	word-wrap: break-word;
	font-size: small;
}

h2 {
	font-size: 25px;
	color: #737373;
	font-weight: 300;
	text-align: center;
}

.categoryBox li {
	background: white;
	border-radius: 4px;
}

.categoryBox a{
	color: #737373;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color: #fff;
	background-color: #39c6a6;    
}

.nav-pills>li.active {
	pointer-events:none;

}

.categoryTag {
	text-align: center;
	border: 2px solid #c4c4c4;
	border-radius: 4px;
	padding: 5px 5px;
	word-wrap: break-word;
}

.categoryTag:hover {
	background-color: #c4c4c4;
	transition: 0.2s;
}

.categoryTag:hover p {
	color: #fff;
}

.categoryTag p {
	margin: auto auto;
	color: #8a8a8a;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.categoryDescription {
	font-size: 1.1em;
	font-family: inherit;
	color: #737373;
	text-align: center;
	margin-bottom: 10px;
}

.icon {
	height:20px;
	padding-left: inherit;

}

.categoryBoxTag {
	padding-left: 30px;
}

.page-numbers {
	margin-top: 10px;
	text-align: center;
}

.page-num, .page-numbers .glyphicon {
	color: #39c6a6;
	font-size: 1.2em;
}

.page-num:hover, .page-numbers .glyphicon:hover {
	color: #23527c;
	text-decoration: none;
}

.page-num.selected {
	color: #23527c;
	font-size: 1.45em;
}

.zrp {
	text-align: center;
	padding: 10%;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
}

.zrp h2 {
	font-size: 4em;
}

.zrp h3 {
	color: black;
	font-weight: 400;
}

.zrp p {
	margin-top: 2em;	
	font-size: 1.5em;
	font-weight: 300;
	color: #737373;
}

.zrp a {
	color: #39c6a6;
}