/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	border: 1px solid #888;
}

.modal-text {
	text-align: center;
}

.modal-product-name {
	font-weight: bold;
	text-transform: uppercase;	
}