.profile-img {
	height: 220px;
	width: 220px;
	margin-bottom: 40px;
	margin-top: 40px;
	border-radius: 100%;
	object-fit: contain;
}

.profile-img-input {
	height: 20em;
	margin-bottom: 1em;
}

.glow-active {
	box-shadow: 0 0 2em blue;
	transition: box-shadow 1s linear;
}

.glow-remove {
	transition: box-shadow 5s linear;
	box-shadow: none;
}

.img-row {
	text-align: center;
}

.profile-info-box {
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .04);
}

.profile-username, .profile-mail {
	text-align: center;
}

.profile-mail p, .profile-mail .glyphicon {
	display: block;
}

.profile-mail p, .profile-username p {
	font-size: 1.6em;
	font-weight: 300;
	margin-bottom: 1em;
}

.profile-mail p {
	margin-bottom: 2em;
}

.activity-box {
	background-color: white;
	margin-left: 20px;
}

.uploaded-products-title {
    margin-bottom: 0.6em;
}

.delete-product-button {
	font-size: 1.4em;
	color: #888a85;
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 5;
}

.delete-product-button:hover, .delete-product-button:focus {
	color: #ef2929;
	text-decoration: none;
	cursor: pointer;
}

.settings-row {
	padding-top: 10px;
    padding-right: 10px;
    font-size: x-large;
    color: #b7b7b7;
}

.row-centered {
	text-align: center;
}
