.search-tabs {
	font-size: 1.2em;
	font-weight: 500;
}

.search-tabs a {
	color: #39c6a6;
	border: 2px solid #eee;
}

.search-tabs .active a {
	border: 2px solid #39c6a6;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color: #fff;
	background-color: #39c6a6;    
}

.nav-pills>li.active {
	pointer-events:none;
}