.form-container h2{
	text-align: center;
	margin-top: 0;
}

.form-container h4 {
	text-align: center;
}

.upload-btn {
	visibility: hidden;
}

.submit-btn {
	font-size: 1.5em;
	padding: 10px 30px;
	display: inline-block;
	float: none;
	margin-top: 2em;
}

.row-centered {
	text-align: center;
}

.creator-data-row {
	margin-top: 1em;
}

.video-form {
	margin-top: 10px;
}

.video-form input {
	width: 100% !important;
}

.creator-name-form {
	margin-bottom: 5px;
	margin-top: 10px;
}

#logo-label {
	width: 150px !important;
	height: 150px !important;
	margin: 15px auto;
}

#product-images {
	height: 120px;
}

#upload-form p { /* errors */
	color: #bc0f0f;
	text-align: left;
}

.logo-form p { /* logo errors */
	text-align: center;
	margin-top: -1em;
}

.video-section p {
	text-align: center;
	margin-top: 15px;
}

.video-form p {
	margin-top: 5px;
	text-align: left;
}

.video-form {
	margin-top: 5px;;
	margin-bottom: 0px;
}

.add-message {
	text-align: center;
	color: #333;
	font-size: 1.3em;
	margin-bottom: 15px;
	font-weight: 500;
}

.creator-data-row p, .creator-data-row a {
	font-size: 1.2em;
	font-weight: 400;
}
.creator-data-row h3 {
	margin-bottom: 15px;
	margin-top: 15px;
}
