.error-description {
	text-align: center;
	padding: 10%;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
	margin-top: 30px;

	h2 {
		font-size: 4em;
	}
	
	h3 {
		color: black;
		font-weight: 400;
	}

	p {
		margin-top: 2em;	
		font-size: 1.5em;
		font-weight: 300;
		color: #737373;
	}
}