

.modal-product-name {
	font-weight: bold;
	text-transform: uppercase;	
}

/* magia para que quede alineado abajo */
.title-row {
	display: flex;
  	align-items: flex-end;
	height: 5em;
}

.title-row h2 {
	margin-top: 0;
	margin-bottom: 5px;
}

h2 {
	font-size: 25px;
	color: #737373;
	font-weight: 300;
	text-align: center;
}

.categoryBox li {
	background: white;
	border-radius: 4px;
}

.categoryBox a{
	color: #737373;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color: #fff;
	background-color: #39c6a6;    
}

.nav-pills>li.active {
	pointer-events:none;
}

form {
	margin: 0;
}

.categoryDescription {
	font-size: 1.1em;
	font-family: inherit;
	color: #737373;
	text-align: center;
}

.icon {
	height:20px;
	margin-left: 10px;
	margin-right: 20px;
	padding-left: inherit;
}

.categoryBoxTag {
	padding-left: 30px;
}

.page-numbers {
	margin-top: 10px;
	text-align: center;
}

.page-num, .page-numbers .glyphicon {
	color: #39c6a6;
	font-size: 1.2em;
}

.page-num:hover, .page-numbers .glyphicon:hover {
	color: #23527c;
	text-decoration: none;
}

.page-num.selected {
	color: #23527c;
	font-size: 1.45em;
}

.order-selection {
	text-align: center;
	margin-bottom: 0.5em;
	margin-top: 3px;
}

.order-btn.selected {
	font-weight: 600;
	color: #333;
}

.order-btn {
	color: #737373;
	font-size: 0.9em;
	letter-spacing: 0.5px;
	text-align: center;
	text-transform: uppercase;
}

.order-btn.selected {
	font-weight: 600;
	font-size: 0.9em;
}

.order-btn:hover {
	color: #333;
	text-decoration: none;
}

.order-divider {
	border-left: solid 1px #737373;
	margin-left: 1em;
	margin-right: 1em;
}

.categoryBox {
	width: 15%;
}
