.profile-img {
	height: 220px;
	width: 220px;
	margin-bottom: 40px;
	margin-top: 40px;
	border-radius: 100%;
	object-fit: contain;
}

.profile-img-input {
	height: 20em;
	margin-bottom: 1em;
}

.glow-active {
	box-shadow: 0 0 1.5em #33bb9c;
	transition: box-shadow 0.4s linear;
}

.glow-remove {
	transition: box-shadow 1s linear;
	box-shadow: none;
}

.img-row {
	text-align: center;
}

.profile-info-box {
	padding-top: 15px;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .04);
	position: fixed;
	z-index: 3;
}

.profile-username, .profile-mail {
	text-align: center;
	word-wrap: break-word;
}

.profile-mail p, .profile-mail .glyphicon {
	display: block;
}

.profile-mail p, .profile-username p {
	font-size: 1.6em;
	font-weight: 300;
	margin-bottom: 1em;
}

.profile-mail p {
	margin-bottom: 2em;
}

.activity-box {
	background-color: white;
	margin-left: 20px;
}

.uploaded-products-title {
    margin-bottom: 0.6em;
}

.settings-row {
	padding-top: 10px;
    padding-right: 10px;
    font-size: x-large;
    color: #b7b7b7;
}

.row-centered {
	text-align: center;
}

.profile-tabs {
	font-size: 1.2em;
    font-weight: 500;
}

.profile-tabs a {
	color: #39c6a6;
    border: 2px solid #eee;
}

.nav-pills {
	margin-bottom: 1em;
}

#password-change-snackbar {
	display: hidden;
}

#new-collection-section {
	display: none;
	text-align: right;
	margin-bottom: 0;
}

#new-collection-section input {
	text-align: center;
	font-weight:500;
}

#createFavListForm {
	margin-bottom: 0;
}

#add-new-collection-link {
	text-align: center ;
	display: block ;
	font-size: 1.4em;
	font-weight: 500;
	color: #7b7b7b;
	letter-spacing: 1px;
}

#add-new-collection-link:hover {
	text-decoration: none;
	color:#333;
}

.create-new-btn {
	font-size: 1.1em;
	font-weight: 700;
	padding: 5px 25px;
}

.collection-panel {
	margin-bottom: 10px;
	
	.panel-heading:hover {
		border-color: #ddd !important; 
	}
}

.setting-row {
	text-align: right;
}

.profile-change-preview-container {
	height: 15em !important;
}

.inner-container {
	width: 100% !important;
}

.collection-delete {
	font-size: 0.9em;
}

.delete-col {
	display: flex;
}

.collection-delete-product {
	display: flex;
	align-self: center;
}

.collection-product-col {
	padding-right: 0;
}

.add-collection {
	position: relative;
	padding: 1em;
	text-align: center;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 10px;
	background-color: #efefef;
	
	.glyphicon {
		margin-right: 10px;
		top: 2px;
	}
	
	&:hover {
		background-color: #dddddd;
		cursor: pointer;
	}
	
	.enable-add-collection {
		color: #8a8a8a;
		font-size: 1.2em;
		
		&:hover {
			color: #8a8a8a;
			text-decoration: none;
		}
	}
	
	input {
		text-align: center;
		margin-top: 0.5em;
	}
	
	.disable-add-btn {
		position: absolute;
		top: 1em;
		right: 1em;
		margin: 0;
		color: #8a8a8a;
		
		&:hover {
			color: #000;
			cursor: pointer;
		}
	}
}

.add-enabled {
	background-color: #efefef;
	
	&:hover {
		background-color: #efefef;
		cursor: inherit;
	}
}

.add-collection-enabled {
	button {
		margin-top: 1em;
	}
}


