.user-profile-img-circle {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  object-fit: contain;
}

.img-col {
  text-align: center;
}

.user-info-box {
  border: 1px solid #f3f3f3;
  background-color: white;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  &:hover {
    border-color: #337ab7;
  }
}

.creator-mail p {
  display: inline;
}

.profile-name-holder {
  font-size: 1.5em;
  color: #333;
}

.creator-mail {
  font-size: 1.2em;
  display: inline-block;
  &:hover {
    text-decoration: underline;
  }
}

.user-ref:hover .creator-mail {
  color: #337ab7;
}