<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<title>Product Seek</title>
	<meta name="description" content="">

	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->
</head>
<body ng-controller="IndexCtrl">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
					<span class="sr-only"></span>
					<!-- Tres rayitas del burguer button -->
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>	

				<a class="navbar-brand" ng-href="#/">
					<img src="images/logo-wide.svg"/>
				</a>
			</div>

			<form ng-submit="search(query)" class="navbar-form navbar-left">
				<div class="search-form-container">
					<div class="form-group">
						<input id="search-box" ng-model="query" name="query" type="text" autocomplete="off" class="form-control" ng-attr-placeholder="{{'navbar.search' | translate}}" ng-focus="searchFocus()" ng-keydown="searchKeyDown($event)" focus-if="searchFieldFocus"/>
						<button type="submit" class="search-button">
							<span class="glyphicon glyphicon-search search-icn"></span>
						</button>
					</div>
					<div ng-show="showSuggestions" class="suggestions-box">
						<div ng-show="searchHistory" class="search-history">
							<div ng-repeat="item in searchHistory">
								<div class="row">
									<div class="col-md-12">
										<a ng-href="" ng-click=search(item) class="history-item" focus-if="focusElems[{{$index}}]" ng-keydown="searchKeyDown($event)">
											<span class="glyphicon glyphicon-time"></span>
											<span ng-bind="item"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div ng-show="searchHistory" class="row">
							<div class="col-md-12"><div class="divider"/></div>
						</div>	
						<div class="row">
							<div class="col-md-12">
								<p class="most-popular-title" ng-bind="'navbar.mostPopular' | translate"></p>
							</div>
						</div>

						<ng-repeat ng-repeat="product in topProducts">
							<a class="suggestion-list-item" ng-href="#/product/{{product.id}}"  data-list-index="{{$$index + searchHistory.length}}" id="suggestion-{{$$index + searchHistory.length}">
								<div class="row center-flex">
									<div class="col-md-2 suggestion-product-logo center-flex">
										<img src="{{product.logo_url}}">
									</div>
								</div>
								<div class="col-md-7">
									<span class="suggestion-product-name capitalize-firstLetter" ng-bind="product.name">
									</span>
								</div>
								<div class="col-md-3">
									<span class="upvote-info">
									<span class="glyphicon glyphicon-arrow-up upvote-icon"/>
										<span ng-bind="product.votesCount"></span>
									</span>
								</div>
							</a>
						</ng-repeat>
					</div>
					</div>
				</div>
			</form>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse">
				<ul ng-if="!isLoggedIn" class="nav navbar-nav navbar-right">
					<li>
						<a class="navbar-link" ng-click="signUpModal()" ng-bind="'navbar.signup' | translate"></a>
					</li>	
					<li>
						<a class="navbar-link" ng-click="signInModal()" ng-bind="'navbar.signin' | translate"></a>	
					</li>

					<li>
						<p class="navbar-btn">
							<a tabindex="0" popover-placement="bottom"
							   uib-popover-html="'<span>post</span>'"
							   class="ps-btn btn upload-btn" role="button" popover-trigger="'focus'" id="upload-popover" ng-bind="'navbar.post' | translate">
							</a>
						</p>
					</li>
				</ul>

				<ul ng-if="isLoggedIn" class="nav navbar-nav navbar-right">
					<li>
						<a class="user-nav-img" ng-href="#/profile/{{loggedUser.id}}">
							<img class="img-contain" src="{{loggedUser.picture_url}}">
						</a>
					</li>
					<li>
						<a class="user-nav-name" ng-href="#/profile/{{loggedUser.id}}">
							<span ng-bind="loggedUser.name"></span>
						</a>
					</li>
					<li>
						<a ng-click="logOut()" class="navbar-link" ng-bind="'navbar.logout' | translate"></a>
					</li>
					<li>
						<p ng-style="{'visibility': hidePost? 'hidden' : 'visible'}" class="navbar-btn">
							<a ng-href="#/post" class="ps-btn btn upload-btn" ng-bind="'navbar.post' | translate"></a>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<ul>
            <li><a ng-href="#/">Home</a></li>
            <li><a ng-href="#/about">About</a></li>
            <li><a ng-href="#/profile/2">Contact</a></li>
			<h3 class="text-muted">productSeek</h3>
		</ul>
		<div ng-view=""></div>

		<div class="footer">
			<p>Product Seek. 2017.</p>
		</div>
	</div>



	<!-- build:js(.) scripts/oldieshim.js -->
	<!--[if lt IE 9]>
		<script src="bower_components/es5-shim/es5-shim.js"></script>
		<script src="bower_components/json3/lib/json3.js"></script>
		<![endif]-->
	<!-- endbuild -->
	<script src="/scripts/paths.js"></script>
	<script src="bower_components/requirejs/require.js" data-main="/scripts/build.js"></script>
</body>
</html>
